# Backend dependencies
fastapi
uvicorn
python-multipart
motor
cloudinary
edge-tts>=7.2.8
python-dotenv
aiofiles
pydantic
pydantic-settings
passlib
python-jose
resend
email-validator
bcrypt

# Frontend dependencies
flask
flask-sqlalchemy
flask-login
flask-bcrypt
flask-wtf
